<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>frontend</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,app}) styles/vendor.css -->
    <link rel="stylesheet" href="styles/vendor.css">
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="myApp">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container" ng-controller="MainCtrl">
    
      <nav class="navbar navbar-static-top navbar-inverse">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Gulp Angular</a>
        </div>
    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
            <li class="active"><a ng-href="#">Home</a></li>
          </ul>
        </div>
      </nav>
    
      <div class="jumbotron text-center">
        <h1>angularKaarousel</h1>
        <p class="lead">
          A full AngularJS carousel, Yay !
        </p>

        <!-- OPTIONS -->
        <div class="settings">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#basic-tab" role="tab" data-toggle="tab">Basic Options</a></li>
            <li><a href="#controls-tab" role="tab" data-toggle="tab">Controls / Pager</a></li>
            <li><a href="#advanced-tab" role="tab" data-toggle="tab">Advanced Options</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="basic-tab">
              <div class="form-group col-xs-4">
                <label>Displayed elements</label>
                <input type="number" ng-model="displayed" class="form-control">
              </div>
              <div class="form-group col-xs-4">
                <label>Sliding n at the time</label>
                <input type="number" ng-model="perSlide" class="form-control">
              </div>
              <div class="form-group col-xs-4">
                <label>Time interval</label>
                <input type="number" ng-model="timeInterval" class="form-control">
              </div>
              <div class="form-group col-xs-4">
                <label>Autoplay switch</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="autoplay">
                  </span>
                  <input type="text" ng-model="autoplay" class="form-control">
                </div>
              </div>
              <div class="form-group col-xs-4">
                <label>Pause on hover</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="pauseOnHover">
                  </span>
                  <input type="text" ng-model="pauseOnHover" class="form-control">
                </div>
              </div>
              <div class="form-group col-xs-4">
                <label>Allow swiping</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="swipable">
                  </span>
                  <input type="text" ng-model="swipable" class="form-control">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="controls-tab">
              <div class="form-group col-xs-6">
                <label>Hide Prev/Next nav</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="hideNav">
                  </span>
                  <input type="text" ng-model="hideNav" class="form-control">
                </div>
              </div>              
              <div class="form-group col-xs-6">
                <label>Show nav on hover</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="navOnHover">
                  </span>
                  <input type="text" ng-model="navOnHover" class="form-control">
                </div>
              </div>              
              <div class="form-group col-xs-6">
                <label>Hide pager</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="hidePager">
                  </span>
                  <input type="text" ng-model="hidePager" class="form-control">
                </div>
              </div>              
              <div class="form-group col-xs-6">
                <label>Show pager on hover</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="pagerOnHover">
                  </span>
                  <input type="text" ng-model="pagerOnHover" class="form-control">
                </div>
              </div>            
            </div>
            <div class="tab-pane" id="advanced-tab">
              <div class="form-group col-xs-4">
                <label>Should center the active slide</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="shouldCenter">
                  </span>
                  <input type="text" ng-model="shouldCenter" class="form-control">
                </div>
              </div>              
              <div class="form-group col-xs-4">
                <label>Should stop after user action</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="stopAfterAction">
                  </span>
                  <input type="text" ng-model="stopAfterAction" class="form-control">
                </div>
              </div>
              <div class="form-group col-xs-4">
                <label>Should sync with something</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="syncing"> ( {{sync}} )
                  </span>
                  <input type="text" ng-model="syncing" class="form-control">
                </div>
              </div>
              <div class="form-group col-xs-4">
                <label>Should go Right to Left</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" ng-model="rtl">
                  </span>
                  <input type="text" ng-model="rtl" class="form-control">
                </div>
              </div>
            </div>
          </div>        
        </div>

        <!-- KAAROUSEL -->
        <kaarousel 
              displayed="displayed" 
              per-slide="perSlide" 
              autoplay="autoplay" 
              pause-on-hover="pauseOnHover" 
              stop-after-action="stopAfterAction" 
              time-interval="timeInterval" 
              center-active="shouldCenter"
              update-rate="updateRate"
              hide-nav="hideNav"
              hide-pager="hidePager"
              nav-on-hover="navOnHover"
              pager-on-hover="pagerOnHover"
              kaa-swipable="swipable"
              sync="sync"
              rtl="rtl"
              data="data"
              animation="'slide'"><kaarousel-slide 
              slide="slide" 
              ng-style="itemStyles()"
              ng-repeat="slide in data | orderBy:'rank' track by $index" 
              ng-class="{selected: isActive(), visible: isVisible()}">
            <!-- Whaterver you want to put in the slide -->
            <ng-include src="'slide-tpl.html'"></ng-include>
          </kaarousel-slide></kaarousel>
        
        <!-- / KAAROUSEL -->

        <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
      </div>

      <div class="jumbotron text-center">
        <kaarousel class="image-slider" 
          options="optionsII" 
          data="images"><kaarousel-slide slide="image"
            ng-repeat="image in images track by $index" 
            ng-style="itemStyles()"
            ng-class="{selected: isActive(), visible: isVisible()}"> 
            <img ng-src="{{image.url}}" kaarousel-image>
          </kaarousel-slide></kaarousel>
      </div>
      
      <hr>
    
      <div class="footer">
        <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
      </div>
    
    </div>

    

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="app.js"></script>
    <script src="src/angular-kaarousel.js"></script>
    <!-- inject:partials -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
