<!-- KAAROUSEL MAIN WRAPPER -->
<kaarousel-container class="kaarousel-actions-wrapper">

	<!-- SLIDER WRAPPER -->
	<kaarousel-wrapper class="kaarousel-wrapper" ng-class="{anim: shouldAnim, dragging: dragging}">
		<!-- SLIDING PART -->
		<kaarousel-slider ng-transclude class="kaarousel-slider"></kaarousel-slider>
	</kaarousel-wrapper>

	<!-- PREV / NEXT NAV -->
	<kaarousel-nav class="kaarousel-nav" ng-class="{'is-hidden': shouldHideNav}">
		<kaarousel-prev ng-click="move('prev')" ng-class="{'is-hidden': hidePrev}" class="kaarousel-prev">PREV</kaarousel-prev>
		<kaarousel-next ng-click="move('next')" ng-class="{'is-hidden': hideNext}" class="kaarousel-next">NEXT</kaarousel-next>
	</kaarousel-nav>

	<!-- PAGER -->
	<kaarousel-pager class="kaarousel-pager" ng-class="{'is-hidden': shouldHidePager}">
		<ul>
			<li ng-repeat="i in factory.elements track by $index" ng-click="move($index)" ng-class="{selected: $index === factory.activeIndex}">{{$index}}</li>
		</ul>
	</kaarousel-pager>

</kaarousel-container>