	
	.kaarousel{

		position: relative;
		display: block;
		clear: both;

		// WRAPPER

		.kaarousel-wrapper{
			display: block;
			overflow: hidden;
			margin: 0 auto;
			width: 80%;
			user-select: none;

			.dummy {
				transition: none;
				display: inline-block;
				vertical-align: top;
			}

			&.shouldAnim {
				.dummy {
					transition: all .7s ease;
				}
				.fade-animation,
				.shuffle-animation{
					& > .kaarousel-slide {
						transition: all .7s ease;
					}
				}
			}
			&.dragging {
				cursor: move;

				.dummy {
					transition: none;
				}

				a {
					pointer-events: none;
				}
			}

		}

		// SLIDER

		.kaarousel-slider{

			white-space: nowrap;
			text-align: center;
			position: relative;
			display: block;

			.kaarousel-slide {
				position: relative;
				display: inline-block;
				vertical-align: top;
				float: none;

				white-space: normal;
				text-align: left;

				img {
					pointer-events: none
				}
			}
			
			&.fade-animation ,
			&.shuffle-animation {
				& > .kaarousel-slide {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					visibility: hidden;
					z-index: 0;

					&.selected,
					&.visible{
						opacity: 1;
						visibility: visible;
						z-index: 10;
					}
				}
			}
		}

		// NAV

		.kaarousel-nav{

			transition: all .3s ease;
			opacity: 1;

			.kaarousel-prev,
			.kaarousel-next{

				position: absolute;
				top: 0;

				width: 10%;
				height: 100%;

				font-size: 0;
				color: transparent;

				transition: all .5s ease;

				&:after{
					content: '>';
					position: absolute;

					top: 50%;
					left: 50%;

					width: 20px;
					height: 20px;

					margin-left: -10px;
					margin-top: -10px;

					font-size: 20px;
					font-weight: bold;
					color: #000;
				}

				&:hover {
					cursor: pointer;
					background: #FFF;

					box-shadow: 0 2px 8px rgba(0, 0, 0, 0.22);
				}
			}

			.kaarousel-prev{
				left: 0;

				&:after{
					content: '<';
				}
			}
			.kaarousel-next{
				right: 0;
			}

		}

		// PAGER

		.kaarousel-pager{

			width: 100%;
			height: 20px;
			float: left;
			margin-bottom: 20px;

			transition: all .5s ease;

			ul {
				padding: 0;
				margin: 0;

				width: 100%;
				display: block;
				text-align: center;

				li {
					display: inline-block;
					list-style-type: none;
					vertical-align: top;

					width: 10px;
					height: 10px;
					margin: 4px;

					background: #000;

					font-size: 0;
					line-height: 14px;

					border-radius: 50%;

					&.selected ,
					&:hover {
						background-color: #5A94F3;
						width: 14px;
						height: 14px;

						margin: 2px;
					}

					&:hover{
						cursor: pointer;
					}

				}
			}
		}

		.is-hidden{
			opacity: 0;
		}
	}
